anyio
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
cleverdict
click
cmd2
colorama
coreapi
coreschema
cycler
debugpy
decorator
defusedxml
distlib
Django
django-active-link
django-cors-headers
django-filter
django-pwa
django-rest-swagger
djangorestframework
dnspython
email-validator
entrypoints
executing
fastapi
fastjsonschema
filelock
Flask
fonttools
h11
httpcore
httptools
httpx
huggingface-hub
idna
IPTCInfo3
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
itypes
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lab
log2d
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
Mypackage
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
openapi-codec
orjson
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2-binary
pure-eval
pycparser
pydantic
Pygments
pyparsing
pyperclip
pyreadline3
pyrsistent
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
rfc3986
scikit-learn
scipy
seaborn
Send2Trash
simplejson
six

sniffio
soupsieve
sqlparse
stack-data
starlette
terminado
threadpoolctl
tinycss2
tokenizers
tornado
tqdm
traitlets
transformers
txt2tags
typing_extensions
tzdata
ujson
uritemplate
urllib3
uvicorn
virtualenv
watchfiles
wcwidth
webencodings
websockets
Werkzeug
widgetsnbextension
